<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      html {
        background-color: #eee;
      }

      .container {
        margin: auto;
        padding: 25px 50px 50px 50px;
        margin-top: 0;
        max-width: 700px;
        background-color: white;
      }

      html {
        font-family: Helvetica;
      }

      p {
        font-weight: 100;
      }
    </style>
  </head>

  <body class="container">
    <%= yield %>
  </body>
</html>
